<br/>
<br/>
<div class="container">
     <div class="row header">
        <h1 id="main-title" class=""><%= __('Gestion des articles')%> | <%= __('article-actif') %></h1>
        <!--<h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>-->
    </div>
    <div class="row">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg4">
            <div class="step">
                <h3><a  href="/article/addArticle" class="btn btn-danger"><%=__('Ajouter-un-article')%></a></h3>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg4">
            <div class="step">
                <h3><a  href="/article/inactif" class="btn btn-danger"><%=__('article-inactif')%></a></h3>
            </div>
        </div>
    </div>
    <% if (typeof success !== 'undefined' && success !== null && success==true){%>
    <div class="row">
        <div class="alert alert-info">
            <%= message%>
        </div>
    </div>
    <%}%>
    <% if (typeof success !== 'undefined' && success !== null && success==false && typeof err !== 'undefined'){%>
    <div class="row" id="error">
        <div class="alert alert-danger  alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong><%= message%></strong><br/>
            <%= err %>
        </div>
    </div>
    <%}%>
    <div class="row">
        <% if (articles !== 'undefined' && articles.length==0 || typeof err !== 'undefined'){%>
        <div class="row" id="error">
            <div class="alert alert-info  alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= __('article.aucun')%></strong><br/>
            </div>
        </div>
        <% }else{ %>
        <div class="col-lg-12">
            <table class="table table-responsive table-hover table-striped" id="table">
                <thead>
                <tr>
                    <th>Categorie</th>
                    <th>Titre</th>
                    <th>Détails</th>
                    <th>Prix</th>
                    <th>Statut</th>
                    <th>Etat</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th class="col-md-3">Date </th>
                </tr>
                </thead>
                <tbody>
                    <% articles.forEach(function(article,index){%>
                    <tr class="context-menu-<%=index%> box menu-one menu-injected">
                            <td id="idarticle-<%=index%>" style="display: none"><%= article.idArticle%></td>
                            <td id="categorie-<%=index%>" class="col-md-1"><%= article.categorie.libelle%></td>
                            <td id="titre-<%=index%>"class="col-md-1"><%= article.titre %></td>
                            <td id="details-<%=index%>" class="col-md-5"><%= article.details %></td>
                            <td id="prix-<%=index%>" class="col-md-1"><%= article.prix %></td>
                            <td id="statut-<%=index%>" class="col-md-1"><%= article.statut %></td>
                            <td id="etat-<%=index%>"class="col-md-1"><%= article.etat %></td>
                            <td id="ville-<%=index%>"class="col-md-3"><%= article.nomVille %></td>
                            <td id="pays-<%=index%>" class="col-md-2"><%= article.nompays %></td>
                            <td id="dateajout-<%=index%>" class="col-md-4"><%= article.dateAjout %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <%}%>
    </div>
    </div>
</div>

<script>
    $(function(){
        <% articles.forEach(function(article,index){%>
        var statut='statut-<%index%>';
        $.contextMenu({
            selector: '.context-menu-<%= index %>',
            build: function($trigger, e) {
                // this callback is executed every time the menu is to be shown
                // its results are destroyed every time the menu is hidden
                // e is the original contextmenu event, containing e.pageX and e.pageY (amongst other data)
                return {
                    callback: function(key, options) {
                        if(key ==='modifier')
                        {
                            window.open('/article/editArticle?idarticle='+document.getElementById("idarticle-<%=index%>").innerHTML,'_self');
                        }
                        if(key ==='supprimer')
                        {
                            $.ajax({
                                type: "POST",
                                url: '/article/deleteArticleP',
                                data: {idarticle:document.getElementById("idarticle-<%=index%>").innerHTML},
                                success: function(data) {
                                    if(data.success=='true')
                                    {
                                        bootbox.alert({
                                            title: "Suppression Article",
                                            message: '<strong><%=__('article.success.suppression')%></strong>',
                                            callback: function(result) {
                                                if (result === null) {

                                                }
                                                else {
                                                    window.location.reload(true);
                                                }
                                            }
                                        });
                                    }else
                                    {
                                        bootbox.alert({
                                            title: "Suppression Article",
                                            message: '<strong><%=__('article.erreur.suppression')%><br/></strong>',
                                            callback: function(result) {
                                                if (result === null) {

                                                }
                                                else {
                                                    window.location.reload(true);
                                                }
                                            }
                                        });
                                    }

                                }
                            });
                        }
                        if(key==='desactiver')
                        {
                            alert("desactiver "+document.getElementById("idarticle-<%=index%>").innerHTML);
                            $.ajax({
                                type: "POST",
                                url: '/article/disableArticle',
                                data: {idarticle:document.getElementById("idarticle-<%=index%>").innerHTML},
                                success: function(data) {
                                    if(data.success=='true')
                                    {
                                        bootbox.alert({
                                            title: "Désactivation Article",
                                            message: '<strong><%=__('article.success.desactivation')%></strong>',
                                            callback: function(result) {
                                                if (result === null) {

                                                }
                                                else {
                                                    window.location.reload(true);
                                                }
                                            }
                                        });
                                    }else
                                    {
                                        bootbox.alert({
                                            title: "Désactivation de l'article",
                                            message: '<strong><%=__('article.erreur.desactivation')%><br/></strong>',
                                            callback: function(result) {
                                                if (result === null) {

                                                }
                                                else {
                                                    window.location.reload(true);
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    },
                    items: {
                        "modifier": {name: '<%=__('menucontextuel.editer')%>', icon: "edit"},
                        "supprimer": {name: "<%=__('menucontextuel.supprimer')%>", icon: "cut"},
                        "desactiver": {name: "<%=__('menucontextuel.desactiver')%>", icon: "disable"},
                        "sep1": "---------",
                        "quitter": {name: "<%=__('menucontextuel.quitter')%>", icon: "quit"}
                    }
                };
            }
        });
        <%})%>
    });
</script>

