<table width="100%">
    <tbody>
    <tr>
        <td bgcolor="#fff" align="center" style="padding:0px">
            <table bgcolor="#FF141C" style="max-width:600px;width:100%;height:60px;border-radius:30px 30px 0 0">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div style="padding:0;margin:0 auto;display:block">
                            <table style="width:100%">
                                <tbody>
                                <tr>
                                    <td width="5%"></td>
                                    <td width="50%" align="left">
                                        <a target="_blank" href="<%=baseUrl%>" style="text-decoration:none">
                                            <span style="color: white;font-weight: bold;font-size: 200%">BuyandSellam</span>
                                            <!-- <img class="CToWUd" src="<%=baseUrl%>/images/logo.png" style="width:100%;max-width:170px">-->
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#FFFFFF" align="center" style="border-right-style:solid;border-right-width:1px;border-right-color:#f1f0f0;border-left-style:solid;border-left-width:1px;border-left-color:#f1f0f0;max-width:600px;width:100%;margin-top:2px">
                <tbody>
                <tr>
                    <td></td>
                    <td align="center" style="display:block!important;margin:0 auto!important;clear:both!important">
                        <div style="padding:15px;margin:0 auto;display:block">
                            <table>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td align="center">
                                        <font style="font-size:18px;color:#FF141C">
                                            <br>
                                            <!--<img src="<%=baseUrl%>/images/check.png"/>-->
                                            <span style="font-weight: bold;font-size: 200%">Youpiiiiiiii! Vous avez reussi</span>
                                            <br>
                                            <br>
                                        </font>
                                        <font style="font-size:22px;color:#FF141C">
                                            Votre adresse email a été confirmé
                                            <br>
                                            <br>
                                        </font>

                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#fff" style="max-width:600px;width:100%;clear:both!important">
                <tbody>
                <tr>
                    <td></td>
                    <!-- <td>
                         <div style="padding:0;margin:0 auto;display:block">
                             <table style="width:100%">
                                 <tbody>
                                 <tr>
                                     <td align="center">
                                         <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=bdf37218f8d0030b5c81806b0b1c6648&u=http%3A%2F%2Fwww.facebook.com%2Fwallapop.es%3Fref%3Dhl" style="text-decoration:none">
                                             <img class="CToWUd" width="30" src="https://ci6.googleusercontent.com/proxy/UzedTLnKtpIBhviPusPvwVJmZgF2hmOfL5FOTXwh-omX01HfBOGV-FJ_fAa0sDOTzU4a4ap1wcyMJwv8t2DjFuXYZHdaE-yAO17Yl6nn=s0-d-e1-ft#http://d22j03ecumputt.cloudfront.net/mailing/ico_fb2.png">
                                         </a>
                                         <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=81a284c1a4ac97c1dce64bb8ccd68445&u=http%3A%2F%2Ftwitter.com%2FWallapop" style="text-decoration:none">
                                             <img class="CToWUd" width="30" src="https://ci6.googleusercontent.com/proxy/y8ZPxtLRkUe_crFheEzafz8Zotz1R67XWLGY3Ucv-ZWcM3kpM7SfJBL4nfeV_ZJJzXwAPIFs8oelUJ8Mp1IiEqY2YZXF8mpx5osa6j_l=s0-d-e1-ft#http://d22j03ecumputt.cloudfront.net/mailing/ico_tw2.png">
                                         </a>
                                         <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=8bac9a22710839da241b3d5d49893526&u=http%3A%2F%2Fpinterest.com%2Fwallapop" style="text-decoration:none">
                                             <img class="CToWUd" width="30" src="https://ci6.googleusercontent.com/proxy/6avVjhMMjdjiuW6QJ6ayLQ3IajDTqvf7uXlVoH2rIAZNTx10vbtKzIFabb-eSr2gD0jUzlgN2FjQuY8YPRkgmGwHbXLGf9xCDWaEr5D9=s0-d-e1-ft#http://d22j03ecumputt.cloudfront.net/mailing/ico_pt2.png">
                                         </a>
                                         <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=7f96da41b7d954434831efc84a6f2461&u=http%3A%2F%2Finstagram.com%2Fwallapop" style="text-decoration:none">
                                             <img class="CToWUd" width="30" src="https://ci4.googleusercontent.com/proxy/sl_eBRX91He6h-Qa6ybkaXrRnnOd1uNwpAZZnuU3ZSArIqATfCRm9yzvrVkbsF2cQ44ffD6zLa7YwM_5ctv_g1gmKfxmccBJ7-4HjJja=s0-d-e1-ft#http://d22j03ecumputt.cloudfront.net/mailing/ico_in2.png">
                                         </a>
                                         <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=5889091b585eac2849cd10057df66cc9&u=https%3A%2F%2Fwww.youtube.com%2Fuser%2FWallapopApp" style="text-decoration:none">
                                             <img class="CToWUd" width="30" src="https://ci3.googleusercontent.com/proxy/qaaYyTzcIhY22xwbFUkR9_FjJov1y7daS6x7eenE-6ghupQrSbQgQHOxmE5BUxeDh9y3uwLLEP-GyCf9B51k5tK7XDcyyxYX-bngUyFo=s0-d-e1-ft#http://d22j03ecumputt.cloudfront.net/mailing/ico_yt2.png">
                                         </a>
                                     </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </td>-->
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#f1f0f0" style="max-width:600px;border-radius:0 0 30px 30px;margin-top:2px;width:100%;height:60px;clear:both!important">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div style="padding:0;margin:0 auto;display:block">
                            <table style="width:100%">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <font style="font-size:13px;color:#666">
                                                Pour toute question, contactez-nous sur
                                                <a target="_blank" href="mailto:<%=infoContact%>" style="text-decoration:none">:<%=infoContact%></a>
                                                |
                                                <!-- <a target="_blank" href="http://s3s-es3.net/fw19c3/1398758/31/4250184202.html?p=586e79d05f3f5669f84b89cbc3925eb2&u=http%3A%2F%2Fwww.wallapop.com%2Ffr%2Ffaq%3Futm_source%3Dwm%26utm_campaign%3Dws%26utm_medium%3Dmail" style="text-decoration:none">FAQ</a>
                                                 |-->
                                                <a target="_blank" href="<%=baseUrl%>" style="text-decoration:none">www.buyandsell.com</a>
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>