<table width="100%">
    <tbody>
    <tr>
        <td bgcolor="#fff" align="center" style="padding:0px">
            <table bgcolor="#9F1A1B" style="max-width:600px;width:100%;height:60px;border-radius:30px 30px 0 0">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div style="padding:0;margin:0 auto;display:block">
                            <table style="width:100%">
                                <tbody>
                                <tr>
                                    <td width="5%"></td>
                                    <td width="50%" align="left">
                                     <a class="" href="<%=urlSite%>" style="color: #fff;text-decoration:none;font-family:'Pacifico',cursive;font-size: 40px;font-weight: bold;">OccazStreet</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#FFFFFF" align="center" style="border-right-style:solid;border-right-width:1px;border-right-color:#f1f0f0;border-left-style:solid;border-left-width:1px;border-left-color:#f1f0f0;max-width:600px;width:100%;margin-top:2px">
                <tbody>
                <tr>
                    <td></td>
                    <td align="center" style="display:block!important;margin:0 auto!important;clear:both!important">
                        <div style="padding:15px;margin:0 auto;display:block">
                            <table>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td align="center">
                                        <font style="font-size:18px;color:#9F1A1B">
                                            <br>
                                            <br>
                                        </font>
                                        <font style="font-size:22px;color:#9F1A1B">
                                            Bonjour,
                                            <br>
                                            <br>
                                        </font>
                                        <font style="font-size:16px;color:#717171">
                                            Un nouveau message vient d'etre reçu ,Ci-dessous le detail:<br/>
                                            Nom Expéditeur :<%=nom%><br/>
                                            Email Expéditeur : <%=email%> <br/>
                                            Sujet : <%=sujet%><br/>
                                            Message: <%=message%><br/>
                                        </font>
                                    </td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#fff" style="max-width:600px;width:100%;clear:both!important">
                <tbody>
                <tr>
                    <td></td>

                    <td></td>
                </tr>
                </tbody>
            </table>
            <table bgcolor="#545C5A" style="max-width:600px;border-radius:0 0 30px 30px;margin-top:2px;width:100%;height:60px;clear:both!important">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div style="padding:0;margin:0 auto;display:block">
                            <table style="width:100%">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <font style="font-size:13px;color:#ffffff">
                                                Pour toute question, contactez-nous sur
                                                <a target="_blank" href="mailto:<%=infoContact%>" style="text-decoration:none"><%=infoContact%></a>
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>